:root {
    --primary: rgb(12, 9, 26);
    --secondary: rgb(206, 209, 209);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    /* position: fixed; */
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* box-shadow: 0 0 5px 2px ; */
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
}

/* .links {
    width: max-content;
    display: flex;
    gap: 1rem;
    justify-content: center;
} */

a {
    text-decoration: none;
    color: var(--secondary);
}